#address
{
	color: #ffffff;
}
#time
{
	color: #d45d5c;
}
#first-A,#firas-T
{
	color: #000000;
}
#secondp
{
	color: #676767;
}
#thirdp
{
	color: #75b86b;
}
#forthp,#fifthp,#sixthp
{
	color: #cc8091;
}
#what p
{
	color: #418c59;
}
#when p
{
	color:#d2994f;
}
#how p
{
	color: #cc7680;
}
#what article
{
	color: #767777;
}
#when article,#how article,#What p
{
	color: #231815;
}
#What p span
{
	color: #cd4a48;
}
#title1 span,#firstpragraph:first-letter
{
	color: #f5e327;
}
#title1,#title2
{
	color: #11456b;
}
.pragraph,#firstpragraph
{
	color: #767777;
}
#imge p
{
	color: #72b16a;
}
#imge span
{
	color: #ffffff;
}
#num p
{
	color: #ffffff;
}
#last ul li,#last ul li span
{
	color: #5a5b5b;
}
#quotes1,#quotes2
{
	color: #d45d5c;
}
#hw
{
	color: #5a5b5b;
}
footer p
{
	color: #d45d5c;
}