form
{
	width: 300px;
	position: absolute;
	left: 50%;
	margin-left: -150px;
}

#notInternalStudent
{
	margin-left: 50px;
}



#inschool select:nth-child(1)
{
	width: 80px;
}

#inschool select:nth-child(2)
{
	width: 160px;
	margin-left: 50px;
}

#outschool
{
	display: none;
}
#outschool p
{
	display: inline-block;
}