.box
{
	        display: flex;
            justify-content: space-around;
            align-items: center;
            border: 1px solid #ffffff;
            width: 1000px;
            height: 450px;
}
.inbox
{
	display: flex;
	width: 20%;
	height: 80%;
	border: 1px solid #000;
	justify-content: space-around;
     align-items: center;
}
.button
{
	margin-top: 20px;
}
.button button
{
	background-color: #ffffff;
	font-size: 20px;
	 border: 1px solid #000;
	 margin-left: 20px;
}

.search
{
	margin-top: 20px;
}