body
{
	background-color: #aaa;
	padding: 0px;
	margin: 0px;
}
header,footer
{
	background-color: #000;
	margin: 0px;
}
footer p
{
	color: #fff;
	margin: 0px;
	padding-bottom: 1em;
	text-align: center;
}
header nav
{
	float: right;
}
header nav ul
{
	list-style: none;
}
header nav ul li
{
	width: 80px;
	float: right;
}
table,td,tr,th
{
	border: solid;
}
#logo
{
	position: relative;
	left:200px;
}
#main
{
	padding: 1em;
}

#textstyle,#navstyle,#tablestyle,#formstyle,#imge
{
	padding: 1em;
	margin: 10px;
	border: solid 1px #000;
	background-color: #fff;
}
#left
{
	margin-right: 410px;
}
#right
{
	width: 400px;
	float: right;
}
